[submodule "cv01"]
  path = cv01
  url = https://github.com/SacrificeGhuleh/vd_cv01.git

[submodule "cv02"]
  path = cv02
  url = https://github.com/SacrificeGhuleh/vd_cv02.git

[submodule "cv03"]
  path = cv03
  url = https://github.com/SacrificeGhuleh/vd_cv03.git

[submodule "cv04"]
  path = cv04
  url = https://github.com/SacrificeGhuleh/vd_cv04.git

[submodule "cv05"]
  path = cv05
  url = https://github.com/SacrificeGhuleh/vd_cv05.git           

[submodule "cv06"]
  path = cv06
  url = https://github.com/SacrificeGhuleh/vd_cv06.git

[submodule "cv07"]
  path = cv07
  url = https://github.com/SacrificeGhuleh/vd_cv07.git